<% provide(:title, 'Sign in') %>
<div class='col-md-6 col-md-offset-3 panel panel-default'>
  <div class='panel-body'>
    <h1>Sign in</h1>
    <p class="err"><%= flash[:error] %></p>
    <%= form_for(:session, url: sessions_path) do |f| %>
        <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %><br>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %><br>
        <%= f.check_box :remember %>
        <%= f.label :remember_me %> <br>
        <%= f.submit 'Sign in', class: 'btn btn-success btn-block' %>
    <% end %>
  </div>
</div>